
# no .a files
*.[oa]
*~
# files of config webstorm project
public/app/.idea/
public/app/.idea/workspace.xml
.idea/

#files of config eclipse IDE
.project
.settings/

#logs
application/logs/

#db config
application/config/database.php
