RewriteEngine on

<Files .htaccess>
	order allow,deny
	deny from all
</Files>


RewriteCond $1 !^(index\.php|embed-test|public|downloads|assets|uploads|tests|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]