@CHARSET "ISO-8859-1";


/**
* Font config start 
*/
/*
@font-face {
    font-family: sansation_light;
    src: url(../../bootstrap-3.3.0-dist/dist/fonts/glyphicons-halflings-regular.woff);
}
*/

div , body, html{
    font-family: 'Open Sans', sans-serif;
    color: #737373;
}


/*
* Font config over 
*/

/*
* header-top styles start
*/

/* Buttons */
a#button-payment.btn-primary {
	background-color: #ED2F59;
	border-color: #ED2F59;
}
#header-top .primary-background{
	/*background-color: #ED2F59;
	border-top: 4px solid #05A8AA;
	padding: 7px 0 7px 0;
	box-shadow: 0 1px 14px #888888;
	*/
    min-height: 139px;

}


/*
* header top styles over
*/

/*
* header-nav styles start
*/

#search-module {
    width: 86%;
}

#search-module>input {
	
	border-radius: 5px;
	border:none;
}

#primary-nav #categories-scroll {
	max-height: 580px;
	overflow: auto;
}

#search-widget-results hr{
	margin: 2px 0 9px 0;
}
#left_sidebar #categories_panel #left-sidebar-categories-list {
	max-height: 675px;
	overflow: auto;
	
}

#header-nav {
	margin-top: 10px;
}

.handy {
	cursor: pointer;
}
#shipping-data .disabled-panel-heading ,#payment-methods .disabled-panel-heading ,#order-summary .disabled-panel-heading {
	background-color: #EEE !important;
	cursor: no-drop;
}

#primary-nav {
	/*margin-top: 45px;*/
}

.no-margin {
	margin: 0 !important;
}

#logo {
	padding: 2px 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #05A8AA;
	border-color: #05A8AA;
}

.nav>li>div>a{
	position: relative;
	display: block;
	text-decoration: none;	
}
#primary-nav .nav>li>a{
	padding: 10px 20px;
}

.navbar-default {
	background-color: transparent;
}

#primary-nav .navbar-form .input-group .input-group-btn {
	width: 1px;
}

#primary-nav .search-form .input-group {
	width: 430px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #ED2F59;
	background-color: #ED2F59;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #ED2F59;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: rgba(255, 255, 255, 0.74);
}

.navbar-default .navbar-nav>li{
	margin-left: 3px;
	padding:5px 0;
}

.navbar-default .navbar-nav>li>a {
	background-color: transparent;
}


#header-nav form.search {
	float: right;
	max-width: 180px;
	margin: 18px 0 0 0;
	padding: 0;
}

#header-nav form.search button {
	position: absolute;
	top: 18px;
	right: 0px;
	color: #ccc;
	z-index: 1;
	height: 34px;
	width: 36px;
}

@media  (max-width: 993px) {
	#header-nav {
		height: auto;
	}
	 	
	#header-nav.container-fluid {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#device-menu-button button {
		width: 100%;
	}
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	border-color: #05A8AA;
}

.navbar {
	border: none;
    margin: 0px ;
}

#search-nav {
    background-color: #05A8AA;
    min-height: 64px;
}

#vf-button {
    position: absolute;
    top: 0;
}

#search-container {
    padding: 15px 0;
}

#search-container #search-module>span.form-control-feedback {
    top: 14px;
    right: 109px;
    font-size: 23px;
}

#search-container #search-module>input.form-control {
    font-size: 17px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li.active>a  {
	border-radius: 3px;
	color: #ED2F59;
}
span.caret {
	color: #FFF;
}

.nav>li>a:hover, .nav>li>div>a:hover, .nav>li>a:active, .nav>li>div>a:active, .nav .open>a:focus, .nav div>.open>a:active {
	color:#ED2F59 !important;
	text-decoration:none;
	background-color: rgba(243, 251, 251, 0.51) !important;
}

#left_sidebar li.list-group-item a:hover {
	text-decoration:none;
}

.navbar-form {
	margin-bottom: 0;
}

#search-nav.stick {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
    /*background-color: #FFF;*/
    max-height: 50px;
	border-bottom: 2px solid transparent;
	box-shadow: 0 1px 14px #888888;
}
.container-fluid .row #primary-nav-container {
	background-color: rgba(237, 47, 89, 0.29);
}
.container-fluid #nav.row{
	padding-top: 5px;
}
    

.breadcrumb-wrapper {
	background-color: #E5E5E5;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
	margin-bottom: 20px;
}

.breadcrumb-wrapper .breadcrumb {
	float: right;
	margin: 0;
	border-radius: 0;
	background-color: transparent;
	padding: 3px 0 0;
}
.breadcrumb-wrapper h2 {
	float: left;
	font-size: 24px;
	margin: 0;
	color: #555555;
}
/*
* header-nav styles over
*/

/**
* error banner styles start
*/
#errors p.bg-primary, 
#errors p.bg-success, 
#errors p.bg-info, 
#errors p.bg-warning, 
#errors p.bg-danger  {
	font-size: 14px;
	padding: 15px;
}

button.close {
	padding: 15px;
}
/**
* error banner styles over
*/

/**
* Mini-shopping-cart-details styles start
**/
#shopping-cart-panel #mini-shopping-cart-details button.close {
	padding: 0;
}
/**
* Mini-shopping-cart-details styles over
**/



/**
* pagination list start
*/

#product_list #product_pagination_top ul {
	float: right;
}

#product_list #product_pagination_bottom ul {
	float: right;
}

/**
* pagination list over
*/

/* 
* General styles start
*/

/* Margin styles start */

.margin-bottom-5{
	margin-bottom: 5px;
}

/* Margin styles over */

.stock-dropdown {
	padding: 10px;
}

button#close-button-patholigy-description span.glyphicon.glyphicon-remove {
	color:#000;
}

.link {
	padding-top: 4px;
}

a , .link {
	text-decoration: none;
	cursor: pointer;
}


.link:hover , button:hover {
	color: #777 !important;
}

a , .emphasis, span {
	
	color: #05A8AA;
}

#product_listing .product-product .product-body h3 {
    color: #05A8AA;
}

.btn-default {
	background-color: #FFF;
	/*border-color: transparent;*/
}

.btn-default:first-child {
	border-right: 1px solid #ED2F59 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	/*background-color: rgba(255, 255, 255, 0.74);*/
	background-color: rgba(255, 255, 255, 0.77);
	border-color:transparent;
}

.btn {
	border-radius: 0; 
}

button.btn.btn-default, a.btn.btn-default {
	/*color: #FFFFFF;*/
	color: #ED2F59;
	
}

.btn-group.btn-group-justified button.btn.btn-default {
	color: #333;
	background-color: #e6e6e6;
  	border-color: #adadad;
}

#hours_of_operation {
    border-radius: 0 0 5px 5px;
    font-size: 1.1em;
}

#benefits-banner {
    font-size: 1.5em;
}




#my-account-options-banner .btn-group i, #checkout-panel-nav .btn-group i {
	color: #05A8AA;
}

p.bg-primary {
	background-color: #05A8AA;
}


.center-horizontaly {
	display: block;
	margin: 0 auto;
}

.center-horizontaly-force {
    display: block;
    width: 60%;
    margin: 0 auto;
}

input.form-control {
	border: 2px solid #BBB;
	border-radius: 1px;
}

.panel.panel-default>.panel-heading {
	background-color: #05A8AA;
	border-color: rgba(0,0,0,0.1);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#checkout-panel-content #payment-method-accordion .panel.panel-default>.panel-heading {
	background-color: #428BCA;
	border-color: rgba(0,0,0,0.1);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	
}

#checkout-panel-content #payment-method-accordion .panel.panel-default{
	margin-bottom: 5px;
}

#checkout-panel-content #payment-method-accordion .panel.panel-default .panel-body payment-method-description span {
	
}


.panel-default>.panel-heading {
	color: #FFF !important;
}

#shopping-cart-panel .panel {
	border-top :1px solid #DDD;
}

#checkout-panel-content-views #order-summary #order-totals.panel {
	border-radius: 0 0 4px 4px;
	
	border-top:2px solid #DDD;
	border-right:none;
	border-bottom:none;
	border-left:none;
	
}
 
#shopping-cart-panel ul {
	padding: 0 5px;
}
.panel {
	border-top:none;
	border-radius: 1px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.panel p {
	margin-bottom: 20px;
}

.header-item{
    text-align: center;
}

.header-item h1 {
    font-weight: bold;
    font-size: 4.6em;
}

.header-item span {
    font-size: 1.3em;
}

.header-item i, .header-item span, .header-item h1 {
    color: #FFFFFF;
}

.header-item-container {
    padding: 1% 0;
}

.btn-group-wrap {
    text-align: center;
    padding: 8.5% 0;
}

#left_sidebar li.list-group-item a {
	display: block;
	padding: 10px 15px;
}

.btn-primary {
	background-color: #05A8AA;
}

.btn-primary:hover,
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
	background-color: #119178;
	color: #FFFFFF !important;
	border-color: #16A085; 
	
}


.btn-danger {
	background-color: #C0392B;
}

button.btn-danger:hover, button.btn-danger:focus {
	color: #FFFFFF !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.active {
	background-color: #A3271A;
	border-color: #A3271A;
} 

#product_list #product_listing .btn, form .btn {
	border: 1px solid rgba(0,0,0,0.125);
	border-bottom-width: 2px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 12px 7px;
}

.hidden {
	display: none;
}
.btn-group.btn-group-justified  button.btn.btn-default.active {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad;
}

p.bg-primary, p.bg-warning, p.bg-info {
	font-size: 30px;
	padding: 7px;
	border-radius: 5px;
}

.pathology-description-well p.bg-primary.pathology-description-well-title {
	font-size: 30px;
	padding: 7px;
	border-radius: 5px;
}

.pathology-description-well p.bg-primary.pathology-description-well-content {
	font-size: 25px;
	padding: 7px;
	border-radius: 5px;
}

.message-box {
	font-size: 17px !important;
	padding: 7px;
	border-radius: 5px;
}

.message-title {
	padding: 10px;	
}

section #my-account .panel.panel-default .panel-heading span, section#checkout-panel-content .panel.panel-default .panel-heading span {
	color:#FFF;
}

section #my-account .panel.panel-default .panel-heading {
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	cursor: pointer;
}

section #my-account .panel.panel-default {
	border-radius: 4px !important;
}

.accordion-closed {
	border-radius: 4px !important;
}

#my-account-options-banner {
	margin-bottom: 10px;
}

#checkout-panel-nav {
	margin-bottom: 20px;
}

/* padding css */
.no-padding {
	padding: 0;
}
.normal-padding {
	padding: 15px
}

.normal-side-padding {
	padding: 0 15px 0 15px;
}
.primary-emphasis {
	color: #ED2F59 !important;
}

.primary-background {
    background-color: #ED2F59;
}
.secondary-emphasis {
	color:#05A8AA !important;
}


/*shopping-cart-panel*/

#shopping-cart-panel-content, #order-summary-content {
	padding: 5px;
}

.shopping-cart-item, .order-summary-item {
	padding: 7px 5px;
	border-bottom: 1px solid #DDD;
}

.shopping-cart-item-content, .order-summary-item-content {
	display: inline;
}

.shopping-cart-item .shopping-cart-item-content>span.value, .order-summary-item .order-summary-item-content>span.value {
	font-style: italic;
	font-weight: bold;
	color: #2C3E50;
}

.shopping-cart-item .shopping-cart-item-content>span.value.secondary-emphasis, .order-summary-item .order-summary-item-content>span.value.secondary-emphasis {
	font-style: normal;
	font-size: 17px;
}

.shopping-cart-item .shopping-cart-item-content>span.title {
	font-size: 13px;
}
.order-summary-item .order-summary-item-content>span.title {
	font-size: 17px;	
}

#confirm-order-button, #go-to-orders-button {
	width: 100%;
}

#button-payment {
	width: 100%;
	margin-bottom: 5px;
}

#button-payment-bottom {
    width: 100%;
    margin: 5px 0;
    padding: 10px 10px;
}

#mini-shopping-cart-details.table-emphasis {
	border-top: 2px solid #16A085;
	border-bottom: 2px solid #16A085;
}

.shopping-cart-item.end-item {
	border: none;
}

#order-summary-container a#increase, #order-summary-container a#decrease {
	text-decoration: none;
}

#order-summary .order-summary-input-container>input, #product_listing .stock-dropdown input{
	width: 62px;
}

.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] 
.btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary.focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active {
	
	background-color: #05A8AA;
	border-color: rgba(0,0,0,0.125);
}

#sign-up-form .form-group div.checkbox {
	margin: 0;
}

.message-emphasis {
	border: 1px solid #CCC;
	background-color: #E5E5E5;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;	
}

#open-message-button {
	padding: 0 15px 11px 15px;
}

.help-block {
	font-size: 12px;
}

.glyphicon.glyphicon-ok {
	color:#FFF;
}

#order-summary h3 {
	margin-bottom:15px;
}

/* 
* General styles over
*/


/*
* Tooltip start
*/

#shipping-data-checkbox-tooltip .arrow-up-info {
	left: 7% !important;
}
#order-summary #order-summary-container #order-totals .arrow-up-info {
    left: 96%;
}

.farma-tooltip-error span, .farma-tooltip-info span {
	color: #FFF;	
}

.farma-tooltip-error {
	background-color: #CF1020;
	padding: 5px 12px;
	font-size: 0.96em;
	border-radius: 3px;
}

.arrow-up-error {
	left: 18%;
	position: relative;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #CF1020;
}



.farma-tooltip-info {
	background-color: #5BC0DE;
	border-color: #46b8da;
	padding: 5px 12px;
	font-size: 0.96em;
	border-radius: 3px;
}

.arrow-up-info {
	left: 48%;
	position: relative;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #5BC0DE;
}

#info-tooltip-arrow-left .arrow-up-info {
	left:93%;
}


/**
* Tooltip over
*/

/**
* product list start
*/

#product_options {
    display: inline-block;
}
#product_list .product-product img {
	padding: 25px 0 25px 25px;
}

.product-product {
	background-color: #F9F9F9;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	margin: 0 0 30px;
}

#product_list .product-product > .row >:last-child {
	background-color: #FFFFFF;
	padding-left: 0;
}

#product_list .product-product .product-body {
	padding: 20px;
}
.product-body {
	border: 1px solid #DDDDDD;
}

#product_list .product-product h3 {
	margin: 12px 0 !important;
	font-size: 26px;
}

#product_list .product-product .product-price,#home_product_list .product-product .product-price  {
	background-color: #F9F9F9;
	border: 2px dashed #E0E0E0;
	padding: 5px 12px;
}

#home_product_list .product-product .product-price {
    text-align: center;
}

#home_product_list .product-product a{
    width: 100%;
    margin-top: 30px;
}

.product-product .product-price .old-price {
	text-decoration: line-through;
	font-size: 14px;
	font-weight: 700;
}

.product-product .product-price .new-price {
	font-weight: bold;
	font-size: 24px;
	color: #C0392B;
	margin-left: 5px;
}



/**
* product list over
*/

/*
* Footer styles start
*/
footer {
	color: #87919F;
	font-size: 13px;
	overflow: hidden;
	margin-top: 100px;
}

footer .footer-bar .copyright {
	display: inline-block;
	padding: 20px 0;
}

footer .footer-bar .toTop {
	position: absolute;
	right: 0;
	padding: 20px 0;
	padding-left: 70px;
	width: 50%;
	display: inline-block;
	float: right;
	text-align: center;
	border-left: #403E44 1px dashed;
}

footer .footer-bar {
	background: #292f38;
	display: block;
	text-transform: uppercase;
	position: relative;
}

footer .footer-content {
	background: #2E363F;
	border-top: #403E44 1px dashed;
	padding: 6% 0;
	display: block;
	min-height: 350px; 
}

footer p.contact-desc {
margin: 0 0 30px 0;
padding: 0 0 10px 0;
border-bottom: #403E44 1px dashed;
}

.brands {
	list-style: none;
	padding-left: 0;
}

.brands > li > a {
	background-color: #ebebeb;
	text-align: center;
	color: #555555;
	display: inline-block;
	font-size: 20px;
	padding-top: 11px;
	width: 50px;
	height: 50px;
}

.brands-inline > li {
	display: inline-block;
	margin-right: 5px;
}

.brands-circle > li > a {
	border-radius: 50%;
}

.fa-facebook:before {
	content: "\f09a";
}
/*
* Footer styles over
*/
/*----------------------------------------------------------------------------------------------------------
ICONS START
----------------------------------------------------
 * Copyright 2014 Pixelized Studio
 * http://www.pixelized.cz
 * creative-brands.css
 *
 * Version 1.2
 * Released: 17.6.2014
 * http://creativecommons.org/licenses/by/2.0/
----------------------------------------------------*/

/*------------------------------
	MAIN
------------------------------*/

.brands {
	list-style:none;
	padding-left:0;
}

.brands > li {
	margin:0 0 8px;
}

/*------------------------------
	SIZES
------------------------------*/

.brands > li > a {
	background-color:#ebebeb;
	text-align:center;
	color:#555555;
	display:inline-block;	
	font-size:20px;
	padding-top: 11px;
	width:50px;
	height:50px;
}

.brands-tn > li > a {
	font-size:12px;
	padding-top:4px;
	width:25px;
	height:25px;
}

.brands-sm > li > a {
	font-size:16px;
	padding-top:6px;
	width:35px;
	height:35px;
}

.brands-md > li > a {
	font-size: 18px;
	padding-top: 8px;
	width: 42px;
    height: 42px;
}

.brands-lg > li > a {
	font-size:40px;
	padding-top:12px;
	width:80px;
	height:80px;
}

.brands-hg > li > a {
	font-size:60px;
	padding-top:13px;
	width:110px;
	height:110px;
}

/*------------------------------
	COLORS
------------------------------*/

.brands-inverse > li > a {
	background-color:#555555;
	color:#ebebeb;
}

.brands-colored > li > a {
	color:#ffffff;
}

.brands-colored > li > a.brands-adn {background-color:#444444;}
.brands-colored > li > a.brands-android {background-color:#A4C639;}
.brands-colored > li > a.brands-apple {background-color:#000000;}
.brands-colored > li > a.brands-bitbucket {background-color:#205081;}
.brands-colored > li > a.brands-btc {background-color:#F89F37;}
.brands-colored > li > a.brands-css3 {background-color:#2177FF;}
.brands-colored > li > a.brands-dribbble {background-color:#F46899;}
.brands-colored > li > a.brands-dropbox {background-color:#3476E4;}
.brands-colored > li > a.brands-facebook {background-color:#3B5998;}
.brands-colored > li > a.brands-flickr {background-color:#FE0883;}
.brands-colored > li > a.brands-foursquare {background-color:#8FD400;}
.brands-colored > li > a.brands-github {background-color:#222222;}
.brands-colored > li > a.brands-gittip {background-color:#663300;}
.brands-colored > li > a.brands-google-plus {background-color:#C63D2D;}
.brands-colored > li > a.brands-html5 {background-color:#E44D26;}
.brands-colored > li > a.brands-instagram {background-color:#4E433C;}
.brands-colored > li > a.brands-linkedin {background-color:#4875B4;}
.brands-colored > li > a.brands-linux {background-color:#FFD133;}
.brands-colored > li > a.brands-maxcdn {background-color:#F7AC1B;}
.brands-colored > li > a.brands-pagelines {background-color:#135DA7;}
.brands-colored > li > a.brands-pinterest {background-color:#CB2027;}
.brands-colored > li > a.brands-renren {background-color:#005AAB;}
.brands-colored > li > a.brands-skype {background-color:#00ADF2;}
.brands-colored > li > a.brands-stack-exchange {background-color:#205296;}
.brands-colored > li > a.brands-stack-overflow {background-color:#D28A29;}
.brands-colored > li > a.brands-trello {background-color:#216884;}
.brands-colored > li > a.brands-tumblr {background-color:#2B4964;}
.brands-colored > li > a.brands-twitter {background-color:#33CCFF;}
.brands-colored > li > a.brands-vimeo {background-color:#86B32D;}
.brands-colored > li > a.brands-vk {background-color:#44678D;}
.brands-colored > li > a.brands-weibo {background-color:#D52B2A;}
.brands-colored > li > a.brands-windows {background-color:#00ADEF;}
.brands-colored > li > a.brands-xing {background-color:#005A5F;}
.brands-colored > li > a.brands-youtube {background-color:#FF3333;}

.brands-transparent > li > a {
	background-color:rgba(235,235,235,0.4);
}

.brands-transparent-inverse > li > a {
	background-color:rgba(85,85,85,0.2);
	color:#ebebeb;
}

/*------------------------------
	SHAPES
------------------------------*/

.brands-rounded.brands-tn > li > a {
	border-radius:2px;
}

.brands-rounded.brands-sm > li > a {
	border-radius:4px;
}

.brands-rounded.brands-md > li > a {
	border-radius:5px;
}

.brands-rounded > li > a {
	border-radius:6px;
}

.brands-rounded.brands-lg > li > a {
	border-radius:8px;
}

.brands-rounded.brands-hg > li > a {
	border-radius:10px;
}

.brands-circle > li > a {
	border-radius:50%;
}

/*------------------------------
	ANIMATION
------------------------------*/

.brands-spin > li > a:hover i {
	animation: spin 0.5s linear;
	-webkit-animation: spin 0.5s linear;
}

.brands-transition > li > a {
	transition-duration:0.5s;
}

/*------------------------------
	STRUCTURE
------------------------------*/

.brands-justified > li {
    display: table-cell;
	width:1%;
	float:none;
}

.brands-justified > li > a {
    width:100%;
}

.brands-justified.brands-rounded.brands-tn > li > a,
.brands-justified.brands-rounded.brands-sm > li > a, 
.brands-justified.brands-rounded.brands-md > li > a, 
.brands-justified.brands-rounded > li > a, 
.brands-justified.brands-rounded.brands-lg > li > a,
.brands-justified.brands-rounded.brands-hg > li > a,
.brands-justified.brands-circle > li > a {
	border-radius:0;
}

.brands-justified.brands-rounded.brands-tn > li:first-child > a {
	border-radius:2px 0 0 2px;
}

.brands-justified.brands-rounded.brands-tn > li:last-child > a {
	border-radius:0 2px 2px 0;
}

.brands-justified.brands-rounded.brands-sm > li:first-child > a {
	border-radius:4px 0 0 4px;
}

.brands-justified.brands-rounded.brands-sm > li:last-child > a {
	border-radius:0 4px 4px 0;
}

.brands-justified.brands-rounded.brands-md > li:first-child > a {
	border-radius:5px 0 0 5px;
}

.brands-justified.brands-rounded.brands-md > li:last-child > a {
	border-radius:0 5px 5px 0;
}

.brands-justified.brands-rounded > li:first-child > a {
	border-radius:6px 0 0 6px;
}

.brands-justified.brands-rounded > li:last-child > a {
	border-radius:0 6px 6px 0;
}

.brands-justified.brands-rounded.brands-lg > li:first-child > a {
	border-radius:8px 0 0 8px;
}

.brands-justified.brands-rounded.brands-lg > li:last-child > a {
	border-radius:0 8px 8px 0;
}

.brands-justified.brands-rounded.brands-hg > li:first-child > a {
	border-radius:10px 0 0 10px;
}

.brands-justified.brands-rounded.brands-hg > li:last-child > a {
	border-radius:0 10px 10px 0;
}

.brands-justified.brands-circle > li:first-child > a {
	border-radius:50% 0 0 50%;
}

.brands-justified.brands-circle > li:last-child > a {
	border-radius:0 50% 50% 0;
}

.brands-inline > li {
	display:inline-block;
	margin-right:5px;
}

.brands-inline > li:last-child {
	margin-right:0;
}

/*------------------------------
	HOVERS
------------------------------*/

.brands > li > a:hover {
	color:#ffffff;
}

.brands > li > a.brands-adn:hover {background-color:#444444;}
.brands > li > a.brands-android:hover {background-color:#A4C639;}
.brands > li > a.brands-apple:hover {background-color:#000000;}
.brands > li > a.brands-bitbucket:hover {background-color:#205081;}
.brands > li > a.brands-btc:hover {background-color:#F89F37;}
.brands > li > a.brands-css3:hover {background-color:#2177FF;}
.brands > li > a.brands-dribbble:hover {background-color:#F46899;}
.brands > li > a.brands-dropbox:hover {background-color:#3476E4;}
.brands > li > a.brands-facebook:hover {background-color:#3B5998;}
.brands > li > a.brands-flickr:hover {background-color:#FE0883;}
.brands > li > a.brands-foursquare:hover {background-color:#8FD400;}
.brands > li > a.brands-github:hover {background-color:#222222;}
.brands > li > a.brands-gittip:hover {background-color:#663300;}
.brands > li > a.brands-google-plus:hover {background-color:#C63D2D;}
.brands > li > a.brands-html5:hover {background-color:#E44D26;}
.brands > li > a.brands-instagram:hover {background-color:#4E433C;}
.brands > li > a.brands-linkedin:hover {background-color:#4875B4;}
.brands > li > a.brands-linux:hover {background-color:#FFD133;}
.brands > li > a.brands-maxcdn:hover {background-color:#F7AC1B;}
.brands > li > a.brands-pagelines:hover {background-color:#135DA7;}
.brands > li > a.brands-pinterest:hover {background-color:#CB2027;}
.brands > li > a.brands-renren:hover {background-color:#005AAB;}
.brands > li > a.brands-skype:hover {background-color:#00ADF2;}
.brands > li > a.brands-stack-exchange:hover {background-color:#205296;}
.brands > li > a.brands-stack-overflow:hover {background-color:#D28A29;}
.brands > li > a.brands-trello:hover {background-color:#216884;}
.brands > li > a.brands-tumblr:hover {background-color:#2B4964;}
.brands > li > a.brands-twitter:hover {background-color:#33CCFF;}
.brands > li > a.brands-vimeo:hover {background-color:#86B32D;}
.brands > li > a.brands-vk:hover {background-color:#44678D;}
.brands > li > a.brands-weibo:hover {background-color:#D52B2A;}
.brands > li > a.brands-windows:hover {background-color:#00ADEF;}
.brands > li > a.brands-xing:hover {background-color:#005A5F;}
.brands > li > a.brands-youtube:hover {background-color:#FF3333;}

/*------------------------------
	MEDIA QUERIES
------------------------------*/

@media (max-width:767px) {
	.brands > li > a {color:#ffffff;}
	
	.brands > li > a.brands-adn {background-color:#444444;}
	.brands > li > a.brands-android {background-color:#A4C639;}
	.brands > li > a.brands-apple {background-color:#000000;}
	.brands > li > a.brands-bitbucket {background-color:#205081;}
	.brands > li > a.brands-btc {background-color:#F89F37;}
	.brands > li > a.brands-css3 {background-color:#2177FF;}
	.brands > li > a.brands-dribbble {background-color:#F46899;}
	.brands > li > a.brands-dropbox {background-color:#3476E4;}
	.brands > li > a.brands-facebook {background-color:#3B5998;}
	.brands > li > a.brands-flickr {background-color:#FE0883;}
	.brands > li > a.brands-foursquare {background-color:#8FD400;}
	.brands > li > a.brands-github {background-color:#222222;}
	.brands > li > a.brands-gittip {background-color:#663300;}
	.brands > li > a.brands-google-plus {background-color:#C63D2D;}
	.brands > li > a.brands-html5 {background-color:#E44D26;}
	.brands > li > a.brands-instagram {background-color:#4E433C;}
	.brands > li > a.brands-linkedin {background-color:#4875B4;}
	.brands > li > a.brands-linux {background-color:#FFD133;}
	.brands > li > a.brands-maxcdn {background-color:#F7AC1B;}
	.brands > li > a.brands-pagelines {background-color:#135DA7;}
	.brands > li > a.brands-pinterest {background-color:#CB2027;}
	.brands > li > a.brands-renren {background-color:#005AAB;}
	.brands > li > a.brands-skype {background-color:#00ADF2;}
	.brands > li > a.brands-stack-exchange {background-color:#205296;}
	.brands > li > a.brands-stack-overflow {background-color:#D28A29;}
	.brands > li > a.brands-trello {background-color:#216884;}
	.brands > li > a.brands-tumblr {background-color:#2B4964;}
	.brands > li > a.brands-twitter {background-color:#33CCFF;}
	.brands > li > a.brands-vimeo {background-color:#86B32D;}
	.brands > li > a.brands-vk {background-color:#44678D;}
	.brands > li > a.brands-weibo {background-color:#D52B2A;}
	.brands > li > a.brands-windows {background-color:#00ADEF;}
	.brands > li > a.brands-xing {background-color:#005A5F;}
	.brands > li > a.brands-youtube {background-color:#FF3333;}
	
	.brands-spin > li > a:hover i {
		animation:none;
		-webkit-animation: none;
	}
}

/*
*ICONS OVER
*/

/*
*carousel start
*/
#carousel-content {
	/*height: 400px !important;*/
    margin-bottom: 20px;
}

.carousel-control {
	width: 7%;
}

/*
*carousel start
*/

/*
*sales module
*/

.identify {
	  box-shadow: 0 4px 15px rgba(29, 153, 229, 0.7);
}
/*
* Terms and conditions Modal
*/
.add-scroll {
    max-height: 400px;
    overflow-y: auto;
}

#terms-and-conditions {
    color: #05A8AA;
}

/*
*Pathologies
*/
#pathologies-dropdown {
    overflow: auto;
    max-height: 300px;
}

/*
*slick
*/

#slick_slider_container {
    background-color: rgba(5, 168, 170, 0.69);
}
#slick .slick-prev, #slick .slick-next {
    /*background: rgba(5, 168, 170, 0.69) !important;*/
}

.slick-item-container {
    padding: 5px;
}

#slick .slick-slide {
    background-color: rgba(255, 255, 255, 0.54);
    min-height: 100px;
    margin: 0 10px;
}

#slick_slider h2 {
    color: #FFF;
    margin: 10px;
}

#slick h5 {
    min-height: 4em;
}

/*
*Shoppingcart aux
*/

#mini-shopping-cart-details-aux {
    padding: 2px 38px;
}


#mini-shopping-cart-details-aux a:hover {
    background-color: rgba(255, 255, 255, 0.37)
}


#mini-shopping-cart-details-aux a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

#mini-shopping-cart-details-aux a>i.fa-shopping-cart {
    font-size: 22px;
}

#shopping-cart-panel-aux {
    z-index: 999;
    position: absolute;
}

/*
* nav principal
*/

#primary-nav ul.nav.navbar-nav {
    float: none;
    display: block;
    margin: 0 auto;

}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*
* Devices media queries
*/

@media (max-width: 992px) and (min-width: 768px) {
    #header-top .center-horizontaly-force.header-item {
        width: 24%;
    }
}


@media (max-width: 768px) {
    #header-top .primary-background {
        min-height: 66px;
    }

    .btn-group-wrap {
        text-align: center;
        padding: 5% 0;
    }

    #header-top #login_buttons.primary-background {
        min-height: 48px;
    }
    .header-item {
        font-size: 0.5em;
    }

    .header-item-container {
        padding: 2% 0;
    }

    #left_sidebar #categories_panel #left-sidebar-categories-list {
        min-height: 200px;
    }
}
/*
*product-request-form
*/
#product-request-form p.bg-primary {
    font-size: 24px;
}
/*
*admin
*/

#admin-header {
    margin-bottom: 20px;
}

#header-nav-container.col-sm-12.col-md-10.col-md-offset-2.col-lg-6.col-lg-offset-4.no-padding {
    margin-left: 31.333333% !important;
}

/*
*Maps
*/

#checkout-map-canvas {
    height: 250px;
}

#left-sidebar-seller_options #farmacies-addresses li{
    font-size: 12px;
}

.argel-button {
	background-color: #FF6501;
    padding: 3px 54px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    top: 55%;
    right: 44%;
    border-radius: 13px;
    border: 2px solid;
}

a:hover.argel-button {
    background-color: #FFF;
    color:#FF6501;
    text-decoration: none;
}

.entrenador-vaginal-button {
    background-color: #FFF;
    padding: 2px 53px;
    text-decoration: none;
    color: #09A7AA;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    top: 67%;
    left: 20.5%;
    border-radius: 13px;
    border: 2px solid;
}

a:hover.entrenador-vaginal-button {
    text-decoration: none;
    border: 2px solid #FFF;
    background-color: #09A7AA;
    color: #FFF;
}

.promelight-button {
    background-color: #FFF;
    padding: 3px 54px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    top: 71%;
    right: 24%;
    border-radius: 13px;
    border: 2px solid black;
}
a:hover.promelight-button {
    text-decoration: none;
    border: 2px solid #FFF;
    background-color: black;
    color: #FFF;

}

.thumbnail {
    min-height: 380px;
}

#WA-info i {
    font-size: 1.7em;
}

#aux-search-table table {
    position: absolute;
    z-index: 999;
    background-color: #FFF;
    top: 3.4em;
    width: 83.3%;
    margin: 0;
    border: 2px solid #ED2F59;
    border-top: none;
}
#aux-search-table table tr {
    cursor: pointer;
}

#showing-pathologies {
    max-height: 365px;
    overflow-y: scroll;
}

#showing-pathologies table.table-hover>tbody>tr:hover {
    background-color: #D7D7D7;
}

.loading {
    padding: 7% 0;
    min-height: 95%;
    min-width: 95%;
    position: absolute;
    background-color: rgba(239, 233, 233, 0.64);
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    z-index: 999999;
}

.loading i {
    color: #ED2F59;
    font-size: 3em;
}

.pathology-btn {
    background-color: rgba(237, 47, 89, 0.71);;
    color: #FFF;
    display: inline-block;
    padding: 4px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: default;
    margin: 3px 3px 3px 0;
}

a:hover.pathology-btn {
    color: #FFF;
    text-decoration: none;
}

.pathology-btn i.fa.fa-times {
    cursor: pointer;
}

.pathology-btn i.fa.fa-times:hover {
    color: #D1D1D1;
}

#pathology-section p.bg-primary {
    font-size: 19px;
}


#admin-header #header-top .container {
    padding-top: 4px;
    padding-bottom: 4px;
}
#admin-header #header-top .container .checkbox {
    margin-top: 7px;
    margin-bottom: 4px;
    color: #FFF;
}

#myAddressesWrapper {
    border: 2px solid #05A8AA;
    padding-left: 8px;
    margin-bottom: 10px;
}
#promotionWrapper {
    font-size: 102px;
    position: absolute;
    right: -1.5em;
    top: -1em;
    color: #FFCC00;
}

#promotionText {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    right: -4.3em;
    top: -2.01em;
    color: #FF0000;
}

#farmacy-subtitle span#num-of-orders {

    color: #ffff00;
}